<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd ">

	<aop:aspectj-autoproxy />


	<bean id="fileHelper" class="com.salahatwa.filesBean.FileHelper"
		autowire="byName">
		<property name="fileUtils" ref="csvBean"></property>
	</bean>

	<bean id="xlsBean" class="com.salahatwa.filesBean.XLSBean"></bean>
	<bean id="csvBean" class="com.salahatwa.filesBean.CSVBean"></bean>
	<bean id="txtBean" class="com.salahatwa.filesBean.TxtBean"></bean>
	

	<bean id="fileAspect" class="com.salahatwa.aspect.FileAspect"></bean>
	
	

</beans>
